{% macro ticket_type_select(selected) %}
<select id="field-type" name="field_type">
  {% for ticket_type in ticket_types %}
  <option{{ ' selected="selected"' if ticket_type.name == selected}}>{{ ticket_type.name }}</option>
  {% endfor %}
</select>
{% endmacro %}

{% macro priority_select(selected) %}
<select id="field-priority" name="field_priority">
  {% for priority in priorities %}
  <option{{ ' selected="selected"' if priority.name == selected}}>{{ priority.name }}</option>
  {% endfor %}
</select>
{% endmacro %}

{% macro milestone_select(selected=None) %}
<select id="field-milestone" name="field_milestone">
  <option></option>
  <optgroup label="All of them">
    {% for milestone in milestones %}
    <option>{{ milestone.name|e }}</option>
    {% endfor %}
  </optgroup>
</select>
{% endmacro %}

{% macro component_select(selected) %}
<select id="field-component" name="field_component">
  {% for component in components %}
  <option{{ ' selected="selected"' if component.name == selected}}>{{ component.name }}</option>
  {% endfor %}
</select>
{% endmacro %}}

{% macro ticket_attachment_link(ticket_number, filename) -%}
<a class="attachment" href="{{ attachment_root }}/ticket/{{ ticket_number }}/{{ filename|e }}" title="View attachment">{{ filename|e }}</a>
<a class="trac-rawlink" href="{{ raw_attachment_root }}/ticket/{{ ticket_number }}/{{ filename|e }}" title="Download"><img src="{{ static_root }}/frack/resources/download.png" alt="Download"></a>
{%- endmacro %}

{% macro timeline_link(time) -%}
<a class="timeline" href="/trac/timeline?from={{ time }}&amp;precision=second" title="{{ time }} in Timeline">{{ time }}</a>
{%- endmacro %}