{% from 'macros.html' import ticket_type_select, priority_select, milestone_select, component_select with context %}

<h3><a id="edit">Add/Change #{{ ticket.id }} ({{ ticket.summary|e }})</a></h3>
<div class="field">
  <fieldset class="iefix">
    <label for="comment">Comment</label><br />
    <p><textarea id="comment" name="comment" class="wikitext" rows="10" cols="78"></textarea></p>
  </fieldset>
</div>
<fieldset id="properties">
  <legend>
    Change Properties
  </legend>
  <table>
    <tr>
      <th><label for="field-summary">Summary:</label></th>
      <td class="fullrow" colspan="3">
        <input type="text" id="field-summary" name="field_summary"
        value="{{ ticket.summary }}" size="70" />
      </td>
    </tr>

    <tr>
      <th class="col1">
        <label for="field-type">Type:</label>
      </th>
      <td class="col1">
        {{ ticket_type_select(ticket.type) }}
      </td>
      <th class="col2">
        <label for="field-priority">Priority:</label>
      </th>
      <td class="col2">
        {{ priority_select(ticket.priority) }}
      </td>
    </tr>
    <tr>
      <th class="col1">
        <label for="field-milestone">Milestone:</label>
      </th>
      <td class="col1">
        {{ milestone_select() }}
      </td>
      <th class="col2">
        <label for="field-component">Component:</label>
      </th>
      <td class="col2">
        {{ component_select('core') }}
      </td>
    </tr>
    <tr>
      <th class="col1">
        <label for="field-keywords">Keywords:</label>
      </th>
      <td class="col1">
        <input type="text" id="field-keywords" name="field_keywords"
        value="{{ ticket.keywords }}" />
      </td>
      <th class="col2">
        <label for="field-cc">Cc:</label>
      </th>
      <td class="col2">
        <span>
          <input type="text" id="field-cc"
          title="Space or comma delimited email addresses and usernames are accepted."
          name="field_cc" value="{{ ticket.cc }}" />
        </span>
      </td>
    </tr>
    <tr>
      <th class="col1">
        <label for="field-branch">Branch:</label>
      </th>
      <td class="col1">
        <input type="text" id="field-branch" name="field_branch"
        value="{{ ticket.branch }}" />
      </td>
      <th class="col2">
        <label for="field-branch_author">Author:</label>
      </th>
      <td class="col2">
        <input type="text" id="field-branch_author" name="field_branch_author"
        value="{{ ticket.branch_author }}" />
      </td>
    </tr>
    <tr>
      <th class="col1">
        <label for="field-launchpad_bug">Launchpad Bug:</label>
      </th>
      <td class="col1">
        <input type="text" id="field-launchpad_bug" name="field_launchpad_bug"
        value="{{ ticket.launchpad_bug }}" />
      </td>
      <th class="col2">
      </th>
      <td class="col2">
      </td>
    </tr>
  </table>
</fieldset>
<fieldset id="action">
  <legend>Action</legend>
  <div>
    <input type="radio" id="action_leave" name="action" value="leave"
    checked="checked" />
    <label for="action_leave">leave</label> as {{ ticket.status }}
    <span class="hint"></span>
  </div>

  {% if ticket.status == 'closed' %}

  <div>
    <input type="radio" id="action_reopen" name="action" value="reopen" />
    <label for="action_reopen">reopen</label>
    <span class="hint">Next status will be 'reopened'</span>
  </div>

  {% else %}

  <div>
    <input type="radio" id="action_resolve" name="action" value="resolve" />
    <label for="action_resolve">resolve</label>
    as <select name="action_resolve_resolve_resolution" id="action_resolve_resolve_resolution">{% for resolution in resolutions %}
    <option{{ ' selected="selected"' if resolution.name == 'fixed' }}>{{ resolution.name }}</option>{% endfor %}
  </select>
  <span class="hint">The resolution will be set. Next status will be 'closed'</span>
</div>
<div>
  <input type="radio" id="action_reassign" name="action" value="reassign" />
  <label for="action_reassign">reassign</label>
  to <select name="action_reassign_reassign_owner"
  id="action_reassign_reassign_owner" class="user-select"><option></option>
</select>
</div>
<div>
  <input type="radio" id="action_accept" name="action" value="accept" />
  <label for="action_accept">accept</label>
  <span class="hint">The owner will change from {{ ticket.owner if ticket.owner else '(none)' }} to {{ user }}. Next status will be 'assigned'</span>
</div>

{% endif %}

</fieldset>
<div class="buttons">
  <input type="button" name="preview" value="Preview" />
  <input type="submit" name="sumbit" value="Submit changes" />
</div>
