{% extends 'base.html' %}

{% macro changeLine(name, change) %}
  {% if name == 'comment' %}
  {% elif name == 'description' %}
    modified
  {% elif not change[0] %}
    set to <em>{{ change[1]|e }}</em>
  {% elif not change[1] %}
    <em>{{ change[0]|e }}</em> deleted
  {% else %}
    changed from <em>{{ change[0]|e }}</em> to <em>{{ change[1]|e }}</em>
  {% endif %}
{% endmacro %}

{% block content %}
<div id="content" class="ticket">
  <div id="errorbox"></div>
  <div id="ticketbox">
    <h1>
      <span class="title">Ticket #{{ ticket.id }}</span>
      <span class="statuses">
        <span class="type">{{ ticket.type }}</span>
        <span class="status">{{ ticket.status }}</span>
        <span class="resolution">{{ ticket.resolution }}</span>
      </span>
    </h1>
    <div id="ticket">
      <div class="date">
        <p>Opened {{ ticket.time }}</p>
        <p>Last modified {{ ticket.changetime }}</p>
      </div>
      <h2 class="summary searchable">{{ ticket.summary|e }}</h2>
      <table class="properties">
        <tbody><tr>
            <th id="h_reporter">Reported by:</th>
            <td headers="h_reporter" class="searchable">{{ ticket.reporter }}</td>
            <th id="h_owner">Owned by:</th>
            <td headers="h_owner">{{ ticket.owner }}</td>
          </tr>
          <tr>
            <th id="h_priority">
              Priority:
            </th>
            <td headers="h_priority">{{ ticket.priority }}</td>
            <th id="h_milestone">
              Milestone:
            </th>
            <td headers="h_milestone">
              <a class="missing milestone"
                 href="http://twistedmatrix.com/trac/milestone/"
                 rel="nofollow"></a>
            </td>
          </tr><tr>
            <th id="h_component">
              Component:
            </th>
            <td headers="h_component">{{ ticket.component }}</td>
            <th id="h_keywords">
              Keywords:
            </th>
            <td headers="h_keywords" class="searchable">{{ ticket.keywords }}</td>
          </tr><tr>
            <th id="h_cc">
              Cc:
            </th>
            <td headers="h_cc" class="searchable">{{ ticket.cc }}</td>
            <th id="h_branch">
              Branch:
            </th>
            <td headers="h_branch">{{ ticket.branch }}</td>
          </tr><tr>
            <th id="h_branch_author">
              Author:
            </th>
            <td headers="h_branch_author">{{ ticket.branch_author }}</td>
            <th id="h_launchpad_bug">
              Launchpad Bug:
            </th>
            <td headers="h_launchpad_bug">{{ ticket.launchpad_bug }}</td>
          </tr>
      </tbody></table>
      <div class="description">
        <h3 id="comment:description">
          Description
          <a title="Link to this section"
             href="#comment:description" class="anchor"> ¶</a></h3>
        <div class="searchable">{{ ticket.description|wikitext }}</div>
      </div>
    </div>
  </div>

  <div id="changelog">
      <h2>Change History</h2>
      {% for comment in ticket.comments %}
      <form method="get" action="#comment" class="printableform">
        <a href="#comment:{{ comment.number }}">
          <h2 class="comment-number">{{ comment.number }}</h2>
        </a>
        <div class="change">
          <h3 class="change" id="comment:{{ comment.number }}">
            <span class="threading">
              &nbsp;
            </span>
            Changed {{ comment.time }} by {{ comment.author }}
            <a title="Link to this change" href="#comment:{{ comment.number }}" class="anchor"> ¶</a></h3>
          <!-- <div class="inlinebuttons"> -->
          <!--     <input name="replyto" value="1" type="hidden"> -->
          <!--     <input value="Reply" title="Reply to comment 1" type="submit"> -->
          <!-- </div> -->
          <ul class="changes">
            {% for name, change in comment.changes.items() %}
            {% if name != 'comment' %}
              <li class="change change-{{ name }}">
                <span class="column">{{ name }}</span>
                <span class="changeline">{{ changeLine(name, change) }}</span>
              </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="comment searchable">{{ comment.comment|wikitext }}</div>
        </div>
      </form>
      {% endfor %}
  </div>
  <form id="propertyform">{% include 'ticket_change.html' with context %}</form>
</div>
{% endblock %}